.idea/
*.iml
swaggertooling/FirstPlay/logs
swaggertooling/FirstPlay/target
swaggertooling/FirstPlay/.idea
swaggertooling/FirstPlay/.idea_modules
swaggertooling/FirstPlay/.classpath
swaggertooling/FirstPlay/.project
swaggertooling/FirstPlay/.settings
swaggertooling/FirstPlay/RUNNING_PID