@(books : Set[Book])

<html>
    <head>
        <title>All Books</title>
    </head>
    <body>
        <h1>All Books</h1>

        @for(book <- books) {
            <p>ID: <b><a href="@routes.BooksController.show(book.id)">@book.id</a></b></p>
            <p>
            Title: <b><a href="@routes.BooksController.show(book.id)">@book.title</a></b>
            , Price: <b>@book.price</b>
            , Author: <b>@book.author</b>
            </p>
            <br>
        }
        @helper.form(action = routes.BooksController.create()) {
            <input type="submit" value="Add Book"/>
        }
    </body>
</html>